<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="theme-color" content="#2196f3">
    <title>笑笑</title>
    <link rel="stylesheet" href="../css/lib/framework7.material.css">
    <link rel="stylesheet" href="../css/lib/framework7.material.colors.css">
    <link rel="stylesheet" href="../css/app/index.css">
    <link rel="icon" href="../img/icon.png">
</head>

<body>
	<!-- left panel -->
	<div class="panel-overlay"></div>
	<div class="panel panel-left panel-cover">
		nihao
	</div>	
	<!-- left panel -->
	
	<!-- views -->
	<div class="views">
		<div class="view view-main">
			nihao hhh
		</div>
	</div>
	<!-- views -->
	
	<script type="text/javascript" src="../js/lib/framework7.js"></script>
    <script type="text/javascript" src="../js/app/index.js"></script>
</body>
</html>